.header-authetic {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: 40px;

  &__info {
    font-size: 1.3rem;
    color: var(--text-color);
  }

  &__list {
    list-style: none;
    display: block;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    text-decoration: none;
    display: block;
    font-size: 1.3rem;
    color: var(--text-color);
    text-transform: uppercase;
    padding: 0 15px;
    color: var(--text-color);
    border-left: 1px solid var(--border-color);
    height: 40px;
    line-height: 4rem;
  }

  &__link:hover {
    background-color: #e5e5e5;
    color: #2AC37D;
  }
}