.slider {
    position: relative;
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        height: 700px;
        width: 100%;
    }

    .swiper-slide img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 20;
        visibility: inherit;
        position: inherit;
        transform: matrix(1.4, 0, 0, 1, 0, 0);
    }
    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 2px #fff;
        transition: 0.3s ease;
    }
    .swiper-pagination-bullet-active {
        background-color: #fff;
        width: 16px;
        height: 16px;
    }
    .slogan {
        width: 50%;
        left: 75%;
        top: 50%;
        display: block;
        color: #cf1b1b;
        font-size: 58px;
        letter-spacing: 8px;
        cursor: pointer;
        color: "#2AC37D";
        margin-bottom: "20px";
        text-transform: uppercase;
    }

    .slogan::before {
        content: "Life is better in running shoes";
        position: absolute;
        color: transparent;
        background-image: repeating-linear-gradient(45deg, transparent 0, transparent 2px, white 2px, white 4px);
        -webkit-background-clip: text;
        top: 0px;
        left: 0;
        z-index: -1;
        transition: 1s;
        text-transform: uppercase;

        width: 50%;
    }

    .slogan::after {
        content: "Life is better in running shoes";
        position: absolute;
        color: transparent;
        background-image: repeating-linear-gradient(135deg, transparent 0, transparent 2px, white 2px, white 4px);
        -webkit-background-clip: text;
        top: 0px;
        left: 0px;
        transition: 1s;
        text-transform: uppercase;
        width: 50%;
    }

    .slogan:hover:before {
        top: 10px;
        left: 10px;
    }

    .slogan:hover:after {
        top: -10px;
        left: -10px;
    }
}
