.pagination {
  .MuiPaginationItem-root {
      color: rgba(0, 0, 0, 0.87);
      height: 40px;
      margin: 0 3px;
      padding: 0 6px;
      font-size: 16px;
      min-width: 40px;
      box-sizing: border-box;
      text-align: center;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.43;
      border-radius: 50%;
      letter-spacing: 0.01071em;
  }
  .MuiPaginationItem-page.Mui-selected {
      background-color: #2ac37d;
      color: #fff;
  }
}
