.btn-primary {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;


  .btn-primary__root {
    z-index: 2;
    &:active {
      transform: translate(3px, 3px)
    }
  }

  .btn-primary__border{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    top: 2px;
    left: 2px;
  }
}
